.bg-primay {
  background-color: yellow;
}

#mainNav {
}

.navbar-toggler.navbar-toggler-right.text-uppercase.bg-primary.text-white.rounded {
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  background-image: url("../../assets/img/GSA%20no%20back.svg");
  width: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
}

.text-center {
  margin-right: 0px;
}

@media (min-width:768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

